
body{
    background-color: rgb(61, 56, 9);
}
#box1{
    width: 25vw;
    height: 20vh;
    padding: 10px;
    text-align: center;
    background-color:  indianred;
    transition: background-color 1s;
    
}
  #box1:hover {
    background-color: purple;
    
  }

#box2{
    padding: 10px;
    width: 25vw;
    height:20vh;
    text-align: center;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#box2:hover {
    background-color: greenyellow;
  }

@keyframes box2move{
    0% {

    }
    25% {
        translate: 50vw 0;
    }
    50%{
        translate: 50vw 50vh;
    }
    75%{
        translate: 0vw 50vh;
    }
    100%{
        translate: 0 0;
    }
}
